config.json
config.json*
config.json.bak
settings/claims_settings.json
venv/
.idea
__pycache__
data/
!data/_amq/annMal.json
!data/bandori
tmp/
_scripts/
logs/
scripts/start.sh
scripts/stop.sh
scripts/start.sh.bak
scripts/stop.sh.bak
scripts/_start.sh
scripts/_stop.sh
claims_settings.json
/settings/spoiler_settings.json
/settings/highlights_threshold.json
