{
    "OWNER_ID": ,
    "CLIENT_ID": ,
    "CLIENT_SECRET": "",
    "BOT_TOKEN": "",
    "OWNER_TOKEN": "",
    "BOT_PREFIX": "",
    "B_PREF_GUILD" : {},
    "BOT_DEFAULT_EMBED_COLOR_STR": "",
    "BOT_DEFAULT_EMBED_COLOR": 0,
    "IMGUR_ID": "",
    "IMGUR_SECRET": "",
    "IMGUR_ACCESS_TOKEN": "",
    "IMGUR_REFRESH_TOKEN": "",
    "NEW_MAIN_D": "",
    "NEW_BOT_LOOP": "",
    "BOT_DM_LOG": {
        "CAN_SEND": 0,
        "HOOK": 0,
        "GUILD_ID": ,
        "CHANNEL_ID":
    },
}